.search-form {
    margin-bottom: 15px;
    margin-left: 10px;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.game-container {
    width: 200px;
    margin-bottom: 50px;
    border: 1px solid blue;
    padding: 10px;
    margin-left: 10px;
}

.game-container > h1 {
    font-size: 1.5em;
}

.hidden {
    display: none;
}
